 <div class="footer-box">
                <div class="foot-nav">
                    <a href="#" target="_blank">关于我们</a>
                    <span>|</span>
                    <a href="#" target="_blank">联系我们</a>
                    <span>|</span>
                    <a href="#" target="_blank">服务条款</a>
                    <span>|</span>
                    <a href="#" target="_blank">隐私政策</a>
                    <span>|</span>
                    <a href="#" target="_blank">工具</a>
                    <span>|</span>
                    <a href="#" target="_blank">下载客户端</a>
                    <span>|</span>
                    <a href="#" target="_blank">意见与反馈</a>
                    <span>|</span>
                    <a href="#" target="_blank">友情链接</a>
                    <span>|</span>
                    <a href="#" target="_blank">公告</a>
                </div>
                <div class="foot-nav2">
                    <span class="foot_d">旗下站点</span>
                    <span class="foot_a">©2016haishiniu.com</span>
                    <a target="_blank" href="#" class="foot_b">京ICP备092jg34234号-3 京公网安备 21342234324004562</a>
                    <div style="margin-top:6px;">版权所有：小宇宙科技有限公司</div>

                </div>
            </div>