{% extends 'home_layout.html' %}

{% block content %}
<div class="sumary-list">
{% for row in article_list %}
    <div class="summary-item" style="background: url('/static/imgs/background.jpg');margin: 10px">
        <div class="summary-title">
            <a href="/{{ blog.site }}/{{ row.nid }}.html ">{{ row.title }}</a>

        </div>
        <div class="summary-content">
            {{ row.summary }}

        </div>

        <div class="summary-footer">
            <span>posted@{{ row.create_time|date:"Y-m-d H:i:s" }}</span>
            <span>{{ row.blog.user.nickname }}</span>
            <span>阅读({{ row.read_count }})</span>
            <span>评论({{ row.comment_count }})</span>
            <span><a href="/backend/edit-article-{{ row.nid }}.html">编辑</a></span>
        </div>

    </div>

{% endfor %}

</div>

{% endblock %}



